*{
    margin: 0;
    padding: 0;
}
ul, ol {
    padding-left: 0;
}
li{
list-style:none
}
body{
    background-color: #ccc;
}
.am-header{
    position: absolute;
    width: 100%;
    height: 49px;
    line-height: 49px;
    padding: 0 10px;
    z-index: 10000;
}
.am-header-default{
    background-color: transparent;
}
.am-slides>li{
    height: 375px;
}
.am-slides>li>img{
    height: 100%;
}
p,h2,s{
    text-align: center;
}
s{
    display: block;
}
.line{
    display: inline-block;
    width: 350px;
    margin-left: 10px;
    border-bottom: 1px solid #ccc;
}
#showList span{
    display: inline-block;
    font-size: 20px;
}
.bd-l-r{
    border-left: 1px solid #ccc;
    border-right: 1px solid #ccc;
}
.pinglun li{
position: relative;
}
.pinglun .name{
position: relative;
}
.pinglun .date{
    position: relative;
}
.pinglun .text{
    position: relative;
}
.pinglun_more{
    text-align: center;
}
/*推荐*/
.seller ul li{
    width: 50%;
}
.seller img{
    width: 100%;
}
.seller .seller_title{
    text-align: center;
}