<!doctype html>
<html class="no-js">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="">
    <meta name="keywords" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>shop</title>
    <!-- Set render engine for 360 browser -->
    <meta name="renderer" content="webkit">
    <!-- No Baidu Siteapp-->
    <meta http-equiv="Cache-Control" content="no-siteapp" />

    <!-- Add to homescreen for Chrome on Android -->
    <meta name="mobile-web-app-capable" content="yes">

    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">

    <link rel="stylesheet" href="assets/css/amazeui.css">
    <link rel="stylesheet" href="assets/css/app.css">
    <link rel="stylesheet" type="text/css" href="css/reset.css">

    <link rel="stylesheet" type="text/css" href="css/commodityDetails.css"></head>

<body>
    <!--在这里编写你的代码-->
    <header data-am-widget="header" class="am-header am-header-default">
        <div class="am-header-left am-header-nav">
            <a href="#left-link" class=""> <i class="am-header-icon am-icon-chevron-left"></i>
            </a>
        </div>
        <div class="am-header-right am-header-nav">
            <a href="#search-link" class=""> <i class="am-header-icon am-icon-search"></i>
            </a>
            <a href="#cart-link" class="">

                <i class="am-header-icon am-icon-shopping-cart"></i>
            </a>
            <a href="#more-link" class="">

                <i class="am-header-icon am-icon-ellipsis-v"></i>
            </a>
        </div>
    </header>
    <!-- 轮播 -->
    <section>
        <div data-am-widget="slider" class="am-slider am-slider-a1" data-am-slider='{"directionNav":false,"slideshowSpeed":3000}' id="app">
            <ul class="am-slides">
                <li v-for="(item,index) in banners">
                    <img v-bind:src="item.url"></li>
            </ul>
        </div>

    </section>
    <section class="ms-add-session">
        <span class="ms-add">
            <span class="ms-add-wish"></span>
        </span>
    </section>

    <section class="ms-rc-subject">
        <h1 class="ms-rc-detail-subject">
            Baseus 10000mAh USB Power Bank 15mm Ultra Slim Powerbank Portable External Battery Charger For iPhone Mobile Phone Poverbank
        </h1>
    </section>

    <section class="ms-detail-price">
        <div class="detail-price-container">
            <span class="price-span">US $16.91</span>
        </div>
        <p class="detail-origin-price"> <del>US $30.75</del>
        </p>
        <div class="ms-promotion">
            <span class="discount">-45%</span>
            <a href="" class="sale app">
                <i></i> <em>Price on the app: US $16.61</em>
                <i></i>
            </a>
        </div>
        <p class="ms-bulk-price"></p>
    </section>
    <section class="ms-block ms-rc-shadow" >
        <div class="ms-rc-detail-orders-stars">
            <ul class="sumary-list  util-clearfix">
                <li>
                    <p>
                        <span>123</span>
                        <span>123</span>
                    </p>
                    <p>FeedBacks</p>
                </li>
                <li class="second">
                    <p>146</p>
                    <p>Orders</p>
                </li>
                <li class="last" style="text-align: right;">
                    <p>1239</p>
                    <p>Wish List</p>
                </li>
            </ul>
        </div>
        <div class="ms-rc-detail-coupon ms-rc-ripple ms-rc-custom">
            <div class="coupon">Discounts & Coupons</div>
            <span>
                <i></i>
                <i></i>
                <i></i>
            </span>
        </div>
    </section>

    <section class="ms-detail-sku ms-sku-row">
        <p class="detail-sku-bar">Ships From,Color</p>
        <p class="detail-shipping-bar">
            <span>Shipping cost:</span>
            <span class="ms-color-ship">Free Shipping</span>
            <span class="ms-rc-action" style="">SELECT</span>
        </p>
    </section>

    <section class="ms-detail-btn-fixed ms-rc-shadow">
        <div class="ms-detail-btn-wrap">
            <div class="store ms-rc-ripple">
                <a href="#">
                    <i class="ic-md ic-store-md"></i>
                </a>
            </div>
            <div class="action">
                <button class="ms-button-secondary ms-rc-shadow ms-rc-ripple">Add to cart</button>
                <button class="ms-button-primary ms-rc-shadow ms-rc-ripple">Buy now</button>
            </div>
        </div>
    </section>

    <div id="lazy">
        <div>
            <div class="ms-feedback ms-rc-shadow">
                <header class="ms-detail-row ms-rc-ripple ms-rc-custom">
                    <span>
                        <a href="#">
                            <span>
                                Feedback(
                                <span>3</span>
                                )
                            </span>
                        </a>
                    </span>
                </header>

                <div id="md-feedback" class="no-top-border">
                    <div class="z fdb-body active">
                        <div class="wrapper">
                            <div class="z fdb-scores fdb-block fdb-section" data-role="scores"></div>
                            <div class="z fdb-pics fdb-block fdb-section" id="summary-fdb-pics" data-role="summary" style="display: block;">
                                <ul class="z fdb-pics-wrapper clearfix get-sq">

                                    <li class="z fdb-pic ">
                                        <div class=" pic has-bk">
                                            <div class="z img-wrapper">
                                                <img src="https://ae01.alicdn.com/kf/UTB8dpRLXv2JXKJkSanrq6y3lVXaz.jpg_.webp"></div>
                                        </div>
                                    </li>

                                    <li class="z fdb-pic ">
                                        <div class=" pic has-bk">
                                            <div class="z img-wrapper">
                                                <img src="https://ae01.alicdn.com/kf/UTB89M5hXrPJXKJkSafSq6yqUXXaC.jpg_.webp"></div>
                                        </div>
                                    </li>

                                    <li class="z fdb-pic last">
                                        <div class="pic">
                                            <div class="z img-wrapper centered">
                                                <span>+11</span>
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                            <div class="z fdb-options fdb-block"></div>
                            <div class="z fdb-comments fdb-block fdb-section" data-role="comments" style="display: block;">
                                <div class="z area" data-role="area">
                                    <div class="z fdb-block fdb-comment">
                                        <div class="infos">
                                            <div class="avatar">
                                                <div class="wrapper has-bk">
                                                    <img class="fade-in lazy show" data-src="https://ae01.alicdn.com/kf/HTB1NuH6JpXXXXXIXFXXq6xXFXXXA.jpg_220x220.jpg_250x250.jpg" src="https://ae01.alicdn.com/kf/HTB1NuH6JpXXXXXIXFXXq6xXFXXXA.jpg_220x220.jpg_250x250.jpg"></div>
                                            </div>
                                            <div class="user">
                                                <span class="name">Y***l A.</span>
                                                <span class="flag">
                                                    <i class="country-flag css_tr"></i>
                                                </span>
                                            </div>
                                            <div class="z date ae-color gray">19 Jul 2017</div>
                                            <div class="z md-rating">
                                                <div class="bottom">
                                                    <div class="content">
                                                        <i class="ic-md ic-star-md"></i>
                                                        <i class="ic-md ic-star-md"></i>
                                                        <i class="ic-md ic-star-md"></i>
                                                        <i class="ic-md ic-star-md"></i>
                                                        <i class="ic-md ic-star-md"></i>
                                                    </div>
                                                </div>
                                                <div class="top" style="width:100%;">
                                                    <div class="content">
                                                        <i class="ic-md ic-star-md"></i>
                                                        <i class="ic-md ic-star-md"></i>
                                                        <i class="ic-md ic-star-md"></i>
                                                        <i class="ic-md ic-star-md"></i>
                                                        <i class="ic-md ic-star-md"></i>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="content">
                                                <p>thankyou</p>

                                            </div>

                                        </div>
                                    </div>

                                    <div class="z fdb-block fdb-comment">
                                        <div class="infos">
                                            <div class="avatar">
                                                <div class="wrapper has-bk">
                                                    <img class="fade-in lazy show" data-src="https://ae01.alicdn.com/kf/UT8B5W8XYBaXXagOFbXC.jpg_220x220.jpg_250x250.jpg" src="https://ae01.alicdn.com/kf/UT8B5W8XYBaXXagOFbXC.jpg_220x220.jpg_250x250.jpg"></div>
                                            </div>
                                            <div class="user">
                                                <span class="name">I**r B.</span>
                                                <span class="flag">
                                                    <i class="country-flag css_md"></i>
                                                </span>
                                            </div>
                                            <div class="z date ae-color gray">16 Jul 2017</div>
                                            <div class="z md-rating">
                                                <div class="bottom">
                                                    <div class="content">
                                                        <i class="ic-md ic-star-md"></i>
                                                        <i class="ic-md ic-star-md"></i>
                                                        <i class="ic-md ic-star-md"></i>
                                                        <i class="ic-md ic-star-md"></i>
                                                        <i class="ic-md ic-star-md"></i>
                                                    </div>
                                                </div>
                                                <div class="top" style="width:100%;">
                                                    <div class="content">
                                                        <i class="ic-md ic-star-md"></i>
                                                        <i class="ic-md ic-star-md"></i>
                                                        <i class="ic-md ic-star-md"></i>
                                                        <i class="ic-md ic-star-md"></i>
                                                        <i class="ic-md ic-star-md"></i>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="content">
                                                <p></p>

                                            </div>

                                        </div>
                                    </div>

                                    <div class="z fdb-block fdb-comment">
                                        <div class="infos">
                                            <div class="avatar">
                                                <div class="wrapper has-bk">
                                                    <img class="fade-in lazy show" data-src="//ae01.alicdn.com/kf/HTB1p5.sJpXXXXc.XpXX760XFXXXO.png_250x250.jpg" src="//ae01.alicdn.com/kf/HTB1p5.sJpXXXXc.XpXX760XFXXXO.png_250x250.jpg"></div>
                                            </div>
                                            <div class="user">
                                                <span class="name">H******e F.</span>
                                                <span class="flag">
                                                    <i class="country-flag css_br"></i>
                                                </span>
                                            </div>
                                            <div class="z date ae-color gray">12 Jul 2017</div>
                                            <div class="z md-rating">
                                                <div class="bottom">
                                                    <div class="content">
                                                        <i class="ic-md ic-star-md"></i>
                                                        <i class="ic-md ic-star-md"></i>
                                                        <i class="ic-md ic-star-md"></i>
                                                        <i class="ic-md ic-star-md"></i>
                                                        <i class="ic-md ic-star-md"></i>
                                                    </div>
                                                </div>
                                                <div class="top" style="width:100%;">
                                                    <div class="content">
                                                        <i class="ic-md ic-star-md"></i>
                                                        <i class="ic-md ic-star-md"></i>
                                                        <i class="ic-md ic-star-md"></i>
                                                        <i class="ic-md ic-star-md"></i>
                                                        <i class="ic-md ic-star-md"></i>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="content">
                                                <p>
                                                    O produto chegou com uma rapidez surpreendente o processo de importação levou aproximadamente 20 dias de Singapura á São Paulo, Brazil. O vendedor é muito competente e a empresa está de Parabéns! embora simples, estou bem satisfeito com o produto!
                                                </p>

                                            </div>

                                        </div>
                                    </div>

                                    <div class="z fdb-block fdb-comment">
                                        <div class="infos">
                                            <div class="avatar">
                                                <div class="wrapper has-bk">
                                                    <img class="fade-in lazy show" data-src="https://ae01.alicdn.com/kf/UT86tnsX1xXXXagOFbX2.jpg_220x220.jpg_250x250.jpg" src="https://ae01.alicdn.com/kf/UT86tnsX1xXXXagOFbX2.jpg_220x220.jpg_250x250.jpg"></div>
                                            </div>
                                            <div class="user">
                                                <span class="name">J******s G.</span>
                                                <span class="flag">
                                                    <i class="country-flag css_br"></i>
                                                </span>
                                            </div>
                                            <div class="z date ae-color gray">14 Jul 2017</div>
                                            <div class="z md-rating">
                                                <div class="bottom">
                                                    <div class="content">
                                                        <i class="ic-md ic-star-md"></i>
                                                        <i class="ic-md ic-star-md"></i>
                                                        <i class="ic-md ic-star-md"></i>
                                                        <i class="ic-md ic-star-md"></i>
                                                        <i class="ic-md ic-star-md"></i>
                                                    </div>
                                                </div>
                                                <div class="top" style="width:100%;">
                                                    <div class="content">
                                                        <i class="ic-md ic-star-md"></i>
                                                        <i class="ic-md ic-star-md"></i>
                                                        <i class="ic-md ic-star-md"></i>
                                                        <i class="ic-md ic-star-md"></i>
                                                        <i class="ic-md ic-star-md"></i>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="content">
                                                <p>
                                                    Chegou em 21 dias  bem antes do prazo de entrega muito bom vendedor pretendo comprar mais protudos
                                                </p>

                                            </div>

                                        </div>
                                    </div>

                                    <div class="z fdb-block fdb-comment">
                                        <div class="infos">
                                            <div class="avatar">
                                                <div class="wrapper has-bk">
                                                    <img class="fade-in lazy show" data-src="https://ae01.alicdn.com/kf/UT8L8xWXRhaXXagOFbXu.jpg_220x220.jpg_250x250.jpg" src="https://ae01.alicdn.com/kf/UT8L8xWXRhaXXagOFbXu.jpg_220x220.jpg_250x250.jpg"></div>
                                            </div>
                                            <div class="user">
                                                <span class="name">M*********8 S.</span>
                                                <span class="flag">
                                                    <i class="country-flag css_br"></i>
                                                </span>
                                            </div>
                                            <div class="z date ae-color gray">21 Jul 2017</div>
                                            <div class="z md-rating">
                                                <div class="bottom">
                                                    <div class="content">
                                                        <i class="ic-md ic-star-md"></i>
                                                        <i class="ic-md ic-star-md"></i>
                                                        <i class="ic-md ic-star-md"></i>
                                                        <i class="ic-md ic-star-md"></i>
                                                        <i class="ic-md ic-star-md"></i>
                                                    </div>
                                                </div>
                                                <div class="top" style="width:100%;">
                                                    <div class="content">
                                                        <i class="ic-md ic-star-md"></i>
                                                        <i class="ic-md ic-star-md"></i>
                                                        <i class="ic-md ic-star-md"></i>
                                                        <i class="ic-md ic-star-md"></i>
                                                        <i class="ic-md ic-star-md"></i>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="content">
                                                <p></p>

                                            </div>

                                        </div>
                                    </div>
                                </div>
                                <div class="z area" data-role="area"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <section data-role="desc" data-scrolltrigger="1" style="margin-bottom: 12px;">
        <div class="ms-detail-description ms-detail-row ms-rc-ripple ms-rc-custom ms-rc-shadow">
            <p 

  data-am-modal="{target: '#my-popup'}">Item Description</p>
        </div>
    </section>

    <div id="recommend">
        <div class="recommend-component">
            <div class="ms-lego-loading" style="display: none;">
                <div class="preloader-wrapper small active">
                    <div class="spinner-layer spinner-red-only">
                        <div class="circle-clipper left">
                            <div class="circle"></div>
                        </div>
                        <div class="gap-patch">
                            <div class="circle"></div>
                        </div>
                        <div class="circle-clipper right">
                            <div class="circle"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div id="seller">
                <div class="ms-column ms-lego-two-column ms-lego-shadow">
                    <div>
                        <!---->
                        <div class="ms-lego-container title" style="padding: 15px 16px;">
                            Sell Recommendations(
                            <span>4</span>
                            )
                        </div>
                    </div>
                    <div class="ms-lego-container items" style="padding: 0px;">
                        <ul class="util-clearfix">
                            <li item="[object Object]">
                                <a href="//m.aliexpress.com/s/item/32785854239.html">
                                    <div class="ms-lego-picture-auto-with-width">
                                        <div class="img-wrapper" >
                                            <img alt="Aliexpress" src="https://ae01.alicdn.com/kf/HTB1ZDpFPVXXXXXGXpXXq6xXFXXXe.jpg_350x350.jpg_.webp" style="opacity: 1; transition: opacity 0.3s;"></div>
                                    </div>
                                    <div class="ms-lego-container" style="padding: 8px 16px 16px;">
                                        <!---->
                                        <!---->
                                        <div class="ms-lego-min-price">
                                            <!---->US $12.31</div>
                                        <div class="price-discount util-clearfix">
                                            <!---->
                                            <!----> </div>
                                        <!----> </div>
                                </a>
                            </li>
                            <li item="[object Object]">
                                <a href="//m.aliexpress.com/s/item/32782374567.html">
                                    <div class="ms-lego-picture-auto-with-width">
                                        <div class="img-wrapper" style="background: rgb(255, 255, 255);">
                                            <img alt="Aliexpress" src="https://ae01.alicdn.com/kf/HTB1MKVkPVXXXXX3XVXXq6xXFXXXy.jpg_350x350.jpg_.webp" style="opacity: 1; transition: opacity 0.3s;"></div>
                                    </div>
                                    <div class="ms-lego-container" style="padding: 8px 16px 16px;">

                                        <div class="ms-lego-min-price">US $11.38</div>
                                        <div class="price-discount util-clearfix"></div>
                                    </div>
                                </a>
                            </li>

                        </ul>
                    </div>
                </div>
            </div>
            <div>
                <div class="ms-column ms-lego-two-column ms-lego-shadow">
                    <div>
                        <!---->
                        <div class="ms-lego-container title" style="padding: 15px 16px;">
                            More To Love(
                            <span>6</span>
                            )
                        </div>
                    </div>
                    <div class="ms-lego-container items" style="padding: 0px;">
                        <ul class="util-clearfix">
                            <li item="[object Object]">
                                <a href="//m.aliexpress.com/s/item/32764119359.html">
                                    <div class="ms-lego-picture-auto-with-width">
                                        <div class="img-wrapper" style="background: rgb(255, 255, 255);">
                                            <img alt="Aliexpress" src="https://ae01.alicdn.com/kf/HTB1NSMZRXXXXXc6XpXXq6xXFXXXO.jpg_350x350.jpg_.webp" style="opacity: 1; transition: opacity 0.3s;"></div>
                                    </div>
                                    <div class="ms-lego-container" style="padding: 8px 16px 16px;">
                                        
                                        <div class="ms-lego-min-price">
                                           US $15.79</div>
                                        <div class="price-discount util-clearfix">
                                            
                                             </div>
                                         </div>
                                </a>
                            </li>
                          
                        </ul>
                    </div>
                    <!----> </div>
            </div>
        </div>
    </div>




    <div class="am-popup" id="my-popup">
        <div class="am-popup-inner">
            <div class="am-popup-hd">
                <h4 class="am-popup-title">...</h4>
                <span data-am-modal-close
            class="am-close">&times;</span>
            </div>
            <div class="am-popup-bd">
                <p>123</p>
                <p>123</p>
                <p>123</p>
                <p>123</p>
                <p>123</p>
                <p>123</p>

                <p>123</p>
                <p>123</p>
                <p>123</p>
                <p>123</p>
                <p>123</p>
                <p>123</p>
                <p>123</p>
                <p>123</p>
                <p>123</p>
                <p>123</p>
                <p>123</p>
                <p>123</p>
                <p>123</p>
                <p>123</p>
                <p>123</p>
                <p>123</p>
                <p>123</p>

                <p>123</p>
                <p>123</p>
                <p>123</p>
                <p>123</p>

                <p>123</p>
                <p>123</p>
                <p>123</p>
                <p>123</p>
                <p>123</p>
                <p>123</p>

                <p>123</p>
                <p>123</p>
            </div>
        </div>
    </div>

    <!-- 评论  -->
    <!--  <section style="background: #fff;width: 100%; margin-top: 10px;" class="am-cf" id="talk">
    <ul class="am-list pinglun">
        <li v-for="(item,index) in items">
            <a href="#" class="am-g">
                <div class="am-u-sm-3">
                    <img :src="item.touxiang" style="border-radius: 50% 50% 50% 50%"></div>
                <div class="am-u-sm-9">
                    <div>
                        <span class="name">{{item.name}}</span>
                        <span class="am-fr">⭐⭐</span>
                    </div>
                    <div class="date">{{item.date}}</div>
                    <div class="text">{{item.content}}</div>
                </div>
            </a>
        </li>
    </ul>
    <div class="pinglun_more">More</div>
</section>
<section style="background: #fff;width: 100%; margin-top: 10px;" class="am-cf seller" id="recommend">
    <ul class="am-cf">
        <li class="am-fl" v-for="(item,index) in items">
            <a href="#">
                <div>
                    <img :src="item.url" alt=""></div>
                <div class="seller_title">{{item.title}}</div>
            </a>
        </li>
    </ul>
</section>
-->
<!--[if (gte IE 9)|!(IE)]>
<!-->
<script src="assets/js/jquery1.7.2.js"></script>
<!--<![endif]-->
<!--[if lte IE 8 ]>
<script src="http://libs.baidu.com/jquery/1.11.3/jquery.min.js"></script>
<script src="http://cdn.staticfile.org/modernizr/2.8.3/modernizr.js"></script>
<script src="assets/js/amazeui.ie8polyfill.min.js"></script>
<![endif]-->
<script src="assets/js/amazeui.js"></script>
<script src="js/vue.js"></script>
<script src="js/show.js"></script>
<script></script>
</body>